body { 
margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:linear-gradient(145deg,#0F172A,#111E3A);
  color:white;
display: flex; 
justify-content: center; 
padding-top: 40px; 
} 
#game-container { 
width: 1100px; } 

#topbar { 
height: 70px; 
#topbar{

  background:rgba(255,255,255,0.06);

  border:1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);

  border-radius:18px 18px 0 0;
}
display: flex; 
align-items: center; 
justify-content: space-between; 
padding: 0 25px; 
box-sizing: border-box; 
} 
#score{

  background:#F5CA51;

  color:#0F172A;

  font-weight:700;

  box-shadow:0 8px 20px rgba(0,0,0,0.3);
}
padding: 10px 18px; 
border-radius: 12px; 
font-size: 28px; 

} 
#remaining { 
color: #F5CA51; 
font-size: 24px; 
font-weight:700; 
} 
#map-container {

  position: absolute;

  top: 110px;

  left: 50%;

  transform: translateX(-50%);

  width: fit-content;

  height: fit-content;

  padding: 12px;

  background: white;

  border-radius: 22px;

  box-shadow: 0 12px 28px rgba(0,0,0,0.35);

  overflow: hidden;

  display: flex;

  justify-content: center;

  align-items: center;
}
#map-container {
  zoom: 1.10;
}
#svgMap { 
width: 120%; 
height: 120%; 
  background: #bae1f7;
border-radius: 10px;
object-fit: contain; 
} 
#floating-label { 
position: absolute; 
left: 40px; top: 140px; 
background:#F5CA51;

  color:#0F172A;
 
padding: 10px 16px; 
border-radius: 14px; 
font-size: 24px; 
font-weight: 700; 
box-shadow: 0 3px 10px rgba(0,0,0,0.25); 
  border:none;
z-index: 999; pointer-events: none; 
} 
#svgMap path { 
pointer-events: all; 
}
#map-container svg {

  background: #bae1f7;
}

#map-container svg path {

  stroke: white;
}
